*{
    
  font-family: "Inter", sans-serif;
  max-width: 1600px;
 
}
.top-navigation{
        display: flex;
    padding: 16px 120px;
    justify-content: space-between
}
.navigation ul{
    display: flex;
    gap: 32px;
}
.navigation ul li{
    list-style: none;
    
}
.navigation ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
.btn-share{
    border: none;
    background-color: #469165;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
     border-radius: 5px;
    
}
    

.hero{
    text-align: center;
    background-color: burlywood;
    background: url(../assets/hero-bgC.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero {
  height: 674px;
  background:
    linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    url("../assets/hero-bgC.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.eano{
    border: none;
    background: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    color: #469165;
}
.eano i{
    margin-right: 10px;
}
.hero-content h1{
    font-size: 72px;
    color: #fff;
    line-height: 30px;
    text-transform: capitalize;
}
.hero-content {
    padding: 120px;
    color: #ffffff;
}

h1.extra-c {
    color: #469165;
}
.hero-content p{
    font-size: 18px;
    line-height: 29px;
}
button.btn-share.btn-shiw {
    background-color: transparent;
    border: 1px solid #fff;
}
button.btn-share.btn-shiw i {
    margin-right: 10px;
}



/* NOtes secction */

section.notes {
    text-align: center;
    padding: 50px 120px;
}
.notes-header h2{
    font-size: 48px;
}

.notes-info {
    display: flex;
    gap: 30px;
    margin: 50px  0;
}
.info-card {
    padding: 20px;
    box-shadow: 0 6px 10px 0 #47474786;
}
.info-card i {
    color: #fff;
   background: #000;
   padding: 15px;
    border-radius: 30px;
    background-color: #F95555;
}

.knowledge-container{
    display: flex;
    padding: 120px;
    gap: 60px;
    align-items: center;
}
.knowledge-info h4{
    font-size: 20px;
    font-weight: 400;
    color: #469165;
}
.knowledge-info h3{
    font-size: 48px;
    font-weight: bold;
}
.knowledge-info p{
    font-size: 16px;
    line-height: 20px;
}
.list-items li {
    list-style: url(../assets/CheckCircle.png);
    padding: 5px 0;
}


.think-more-container {
    margin: 0 120px;
    text-align: center;
    background: #F7F6F2;
   padding: 80px 0;
}

.think-more-container h2 {
    font-size: 40px;
}
.think-more-container p{
    line-height: 24px;
    margin-bottom: 20px;
}
.btn-think{
    background-color: #627382;
    color: #ffffff;
    margin-bottom: 16px;
}
.btn-think i {
    margin-left: 10px;
}
footer.footer-container {
    padding: 120px 120px 30px 120px;
    background: rgba(0, 25, 49, 1);
    color: #fff;
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}
.social-links ul li {
    list-style: none;
    display: inline;
}
.social-links ul li a{
    color: #000;
    background: #fff;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
}
.footer-copyright hr{
    border: none;
    height: 2px;
    background-color: #282834;
    margin-bottom: 35px;
}
